/* css got constant style */

:root {
    --palette1: #f2f0eb;
    --palette2: #343342;
    --palette3: #403f52;
    --palette4: #111012;
}

/* Background utility classes */
.bg-palette1 { background-color: var(--palette1); }
.bg-palette2 { background-color: var(--palette2); }
.bg-palette3 { background-color: var(--palette3); }
.bg-palette4 { background-color: var(--palette4); }

/* Text color utility classes */
.text-palette1 { color: var(--palette1); }
.text-palette2 { color: var(--palette2); }
.text-palette3 { color: var(--palette3); }
.text-palette4 { color: var(--palette4); }
